<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Learning french</string>
	<key>description</key>
	<string>Learn French by building muscle memory</string>
	<key>Levels</key>
	<array>
		<dict>
			<key>title</key>
			<string>Singular Subjective Pronouns</string>
			<key>description</key>
			<string>Singular subjective pronouns are five in French Language</string>
			<key>levelid</key>
			<string>French</string>
			<key>QAs</key>
			<array>
				<dict>
					<key>id</key>
					<string>101</string>
					<key>question</key>
					<string>I</string>
					<key>key</key>
					<string>je</string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>102</string>
					<key>question</key>
					<string>you</string>
					<key>key</key>
					<string>tu</string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>103</string>
					<key>question</key>
					<string>he</string>
					<key>key</key>
					<string>il</string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>104</string>
					<key>question</key>
					<string>she</string>
					<key>key</key>
					<string>elle</string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>105</string>
					<key>question</key>
					<string>we</string>
					<key>key</key>
					<string>on</string>
					<key>unsed</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Plural subjective pronouns.</string>
			<key>description</key>
			<string>Plural subjective pronouns are four.</string>
			<key>levelid</key>
			<string></string>
			<key>QAs</key>
			<array>
				<dict>
					<key>id</key>
					<string>127</string>
					<key>question</key>
					<string>We (formal)</string>
					<key>key</key>
					<string>nous</string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>128</string>
					<key>question</key>
					<string>You (formal)</string>
					<key>key</key>
					<string>vous</string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>129</string>
					<key>question</key>
					<string>They (masculine)</string>
					<key>key</key>
					<string>ils</string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>130</string>
					<key>question</key>
					<string>They (feminine)</string>
					<key>key</key>
					<string>elles</string>
					<key>unsed</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Definite Article</string>
			<key>description</key>
			<string>Definite article are are four in french language</string>
			<key>levelid</key>
			<string></string>
			<key>QAs</key>
			<array>
				<dict>
					<key>id</key>
					<string>114</string>
					<key>question</key>
					<string>Masculine Then?</string>
					<key>key</key>
					<string>le</string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>115</string>
					<key>question</key>
					<string>Feminine The?</string>
					<key>key</key>
					<string>la</string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>116</string>
					<key>question</key>
					<string>Plural The?</string>
					<key>key</key>
					<string>les</string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>117</string>
					<key>question</key>
					<string>Vowel and H?</string>
					<key>key</key>
					<string>l&apos;</string>
					<key>unsed</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string></string>
			<key>description</key>
			<string></string>
			<key>levelid</key>
			<string></string>
			<key>QAs</key>
			<array>
				<dict>
					<key>id</key>
					<string>127</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>128</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>129</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>130</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>241</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>132</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>133</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>134</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>135</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>136</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>137</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>138</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>139</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string></string>
			<key>description</key>
			<string></string>
			<key>levelid</key>
			<string></string>
			<key>QAs</key>
			<array>
				<dict>
					<key>id</key>
					<string>140</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>241</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>142</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>143</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>144</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>145</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>146</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>147</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>148</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>149</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>150</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>241</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>152</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string></string>
			<key>description</key>
			<string></string>
			<key>levelid</key>
			<string></string>
			<key>QAs</key>
			<array>
				<dict>
					<key>id</key>
					<string>153</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>154</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>155</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>156</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>157</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>158</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>159</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>160</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>241</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>162</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>163</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>164</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>165</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string></string>
			<key>description</key>
			<string></string>
			<key>levelid</key>
			<string></string>
			<key>QAs</key>
			<array>
				<dict>
					<key>id</key>
					<string>166</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>167</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>168</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>169</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>170</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>241</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>172</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>173</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>174</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>175</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>176</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>177</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>178</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string></string>
			<key>description</key>
			<string></string>
			<key>levelid</key>
			<string></string>
			<key>QAs</key>
			<array>
				<dict>
					<key>id</key>
					<string>179</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>180</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>241</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>182</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>183</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>184</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>185</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>186</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>187</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>188</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>189</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>190</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>241</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string></string>
			<key>description</key>
			<string></string>
			<key>levelid</key>
			<string></string>
			<key>QAs</key>
			<array>
				<dict>
					<key>id</key>
					<string>192</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>193</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>194</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>195</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>196</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>197</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>198</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>200</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>241</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>202</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>203</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>204</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>205</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string></string>
			<key>description</key>
			<string></string>
			<key>levelid</key>
			<string></string>
			<key>QAs</key>
			<array>
				<dict>
					<key>id</key>
					<string>206</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>207</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>208</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>209</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>210</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>241</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>212</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>213</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>214</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>215</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>216</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>217</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>218</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string></string>
			<key>description</key>
			<string></string>
			<key>levelid</key>
			<string></string>
			<key>QAs</key>
			<array>
				<dict>
					<key>id</key>
					<string>219</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>220</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>241</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>222</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>223</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>224</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>225</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>226</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>227</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>228</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>229</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>230</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>241</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string></string>
			<key>description</key>
			<string></string>
			<key>levelid</key>
			<string></string>
			<key>QAs</key>
			<array>
				<dict>
					<key>id</key>
					<string>232</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>233</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>234</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>235</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>236</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>237</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>238</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>239</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>241</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>241</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>241</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>241</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>241</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string></string>
			<key>description</key>
			<string></string>
			<key>levelid</key>
			<string></string>
			<key>QAs</key>
			<array>
				<dict>
					<key>id</key>
					<string>241</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>241</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>241</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>241</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>241</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>241</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>241</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>241</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>241</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>241</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>241</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>241</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>241</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string></string>
			<key>description</key>
			<string></string>
			<key>levelid</key>
			<string></string>
			<key>QAs</key>
			<array>
				<dict>
					<key>id</key>
					<string>241</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>241</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>241</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>241</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>241</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>241</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>241</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>241</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>241</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>241</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>241</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>241</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
				<dict>
					<key>id</key>
					<string>241</string>
					<key>question</key>
					<string></string>
					<key>key</key>
					<string></string>
					<key>unsed</key>
					<string></string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
